/* CSS declarations go here */
body {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
    color: #3A3A3A;
}

.linkrow {
	padding: 10px;
	font-family: Verdana,Geneva,sans-serif;
font-size: 10pt;
}

.source {
	font-family: Verdana,Geneva,sans-serif;
font-size: 8pt;
color: #828282;
}

.insource {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12pt;
	color: #828282;
	padding-left: 20px;
}

.intitle {
	padding-bottom: 20px;
}
.newslist {
	padding:1%;
}
.mainurl {
	color: #3A3A3A;
	text-decoration: none;
}
.maincontainer{
	padding-left:5%;
}
/*a:link {
	color: #337ab7;
	text-decoration: none;
}*/

.subtext {
font-family: Verdana, Geneva, sans-serif;
font-size: 7pt;
color: #828282;
padding-left: 40px; 
}



/*ToolBar Icons*/


@font-face {
    font-family: "icons";
    src: url('http://assets2.tedcdn.com/fonts/icons.eot?7f00dc920bd6839b3c2a5a762264badb');
    src: url('http://assets2.tedcdn.com/fonts/icons.eot?7f00dc920bd6839b3c2a5a762264badb') format("embedded-opentype"), url('http://assets2.tedcdn.com/fonts/icons.woff?938d279ee1e076e431c0723701d81e58') format("woff"), url('http://assets2.tedcdn.com/fonts/icons.ttf?306779318fb0d229f7d2a60abafad63d') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue Custom";
    src: url("http://assets2.tedcdn.com/fonts/hn-045-n.eot");
    src: url("http://assets2.tedcdn.com/fonts/hn-045-n.eot?#iefix") format("embedded-opentype"), url("http://assets2.tedcdn.com/fonts/hn-045-n.woff") format("woff"), url("http://assets2.tedcdn.com/fonts/hn-045-n.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Helvetica Neue Custom";
    src: url("http://assets2.tedcdn.com/fonts/hn-055-n.eot");
    src: local("Helvetica Neue"), url("http://assets2.tedcdn.com/fonts/hn-055-n.eot?#iefix") format("embedded-opentype"), url("http://assets2.tedcdn.com/fonts/hn-055-n.woff") format("woff"), url("http://assets2.tedcdn.com/fonts/hn-055-n.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Helvetica Neue Custom";
    src: url("http://assets2.tedcdn.com/fonts/hn-075-n.eot");
    src: local("Helvetica Neue Bold"), local("Helvetica Neue"), url("http://assets2.tedcdn.com/fonts/hn-075-n.eot?#iefix") format("embedded-opentype"), url("http://assets2.tedcdn.com/fonts/hn-075-n.woff") format("woff"), url("http://assets2.tedcdn.com/fonts/hn-075-n.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Helvetica Neue Custom";
    src: url("http://assets2.tedcdn.com/fonts/hn-085-n.eot");
    src: url("http://assets2.tedcdn.com/fonts/hn-085-n.eot?#iefix") format("embedded-opentype"), url("http://assets2.tedcdn.com/fonts/hn-085-n.woff") format("woff"), url("http://assets2.tedcdn.com/fonts/hn-085-n.ttf") format("truetype");
    font-weight: 900;
}



@media only screen {
    .talk-hero__details {
    padding-left: 40px;
}
}.talk-hero__tools {
    display: none;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    speak: none;
    -webkit-font-smoothing: antialiased;
    width: 60px;
    height: 40px;
    line-height: 41px;
    font-size: 40px;
}
.icon_action-attend:before {
    content: "\e001"}
.icon_action-connect:before {
    content: "\e002"}
.icon_action-download:before {
    content: "\e003"}
.icon_action-follow:before {
    content: "\e004"}
.icon_action-join:before {
    content: "\e005"}
.icon_action-learn:before {
    content: "\e006"}
.icon_action-organize:before {
    content: "\e007"}
.icon_action-participate:before {
    content: "\e008"}
.icon_action-petition:before {
    content: "\e009"}
.icon_action-quote:before {
    content: "\e00a"}
.icon_action-share:before {
    content: "\e00b"}
.icon_action-signup:before {
    content: "\e00c"}
.icon_action-subscribe:before {
    content: "\e00d"}
.icon_action-visit:before {
    content: "\e00e"}
.icon_action-volunteer:before {
    content: "\e00f"}
.icon_arrow-alt-left:before {
    content: "\e010"}
.icon_arrow-alt-right:before {
    content: "\e011"}
.icon_arrow-left:before {
    content: "\e012"}
.icon_arrow-right:before {
    content: "\e013"}
.icon_barchart:before {
    content: "\e014"}
.icon_checkmark:before {
    content: "\e015"}
.icon_circle-download:before {
    content: "\e016"}
.icon_circle-email:before {
    content: "\e017"}
.icon_circle-facebook:before {
    content: "\e018"}
.icon_circle-favorite-fill:before {
    content: "\e019"}
.icon_circle-favorite:before {
    content: "\e01a"}
.icon_circle-googleplus:before {
    content: "\e01b"}
.icon_circle-left:before {
    content: "\e01c"}
.icon_circle-linkedin:before {
    content: "\e01d"}
.icon_circle-more:before {
    content: "\e01e"}
.icon_circle-rate:before {
    content: "\e01f"}
.icon_circle-right:before {
    content: "\e020"}
.icon_circle-twitter:before {
    content: "\e021"}
.icon_circle-watchlater-fill:before {
    content: "\e022"}
.icon_circle-watchlater:before {
    content: "\e023"}
.icon_close-small:before {
    content: "\e024"}
.icon_control-cog:before {
    content: "\e025"}
.icon_control-fullscreen:before {
    content: "\e026"}
.icon_control-mute:before {
    content: "\e027"}
.icon_control-pause:before {
    content: "\e028"}
.icon_control-play:before {
    content: "\e029"}
.icon_control-skip:before {
    content: "\e02a"}
.icon_control-subtitles:before {
    content: "\e02b"}
.icon_control-transcript:before {
    content: "\e02c"}
.icon_control-volume:before {
    content: "\e02d"}
.icon_facebook:before {
    content: "\e02e"}
.icon_flag:before {
    content: "\e02f"}
.icon_footnotes:before {
    content: "\e030"}
.icon_item-book:before {
    content: "\e031"}
.icon_item-globe:before {
    content: "\e032"}
.icon_item-speaker:before {
    content: "\e033"}
.icon_item-text:before {
    content: "\e034"}
.icon_item-video:before {
    content: "\e035"}
.icon_link:before {
    content: "\e036"}
.icon_page-dot-off:before {
    content: "\e037"}
.icon_page-dot-on:before {
    content: "\e038"}
.icon_pin:before {
    content: "\e039"}
.icon_reply:before {
    content: "\e03a"}
.icon_search:before {
    content: "\e03b"}
.icon_transcript:before {
    content: "\e03c"}
.icon_twitter:before {
    content: "\e03d"}
.icon_upvote:before {
    content: "\e03e"}

/*Toolbar*/
@media only screen  {
    .talk-hero__tools {
    display: block;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
}
.talk-hero__tools__list {
    display: table;
    height: 100%}
.talk-hero__tools__list__actions {
    display: table-cell;
    vertical-align: middle;
}
.talk-hero__tools__tool {
	text-decoration: none;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    margin-bottom: 20px;
}
.talk-hero__tools__tool:focus, .talk-hero__tools__tool:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}
.talk-hero__tools__icon {
    width: 56px;
    height: 76px;
    line-height: 47px;
    font-size: 76px;
    display: block;
    font-weight: 100;
    margin-bottom: 5px;
    padding-right: 30px;
}
}



/*Leadership*/

.player {
border-bottom: 1px solid #f1f1f1;
cursor: pointer;
padding: .5em 0;
position: relative;
overflow: hidden;
transition: background 300ms ease-out;
border-left: 4px solid white;
}

.player:hover {
background-color: #fefff4;
}


.player.selected {
background-color: #fefff4;
border-left: #eb5f3a 4px solid;
}

.counter {

}
.counter:before {
color: #999;
content: counter(ol-counter);
counter-increment: ol-counter;
display: inline-block;
font-weight: 300;
line-height: 2em;
text-align: center;
vertical-align: baseline;
width: 3em;
}


.player .name {
display: inline-block;
font-size: 1.2em;
font-weight: 300;
vertical-align: middle;
}

.leaderboard {
border-top: 1px solid #f1f1f1;
counter-reset: ol-counter;
list-style-type: none;
margin: 0 0 1.5em;
padding: 0;
}